/*
	PARENT CONTAINERS
*/
.debug {
  display: none; }

html {
  font-size: 10px; }

body {
  background-image: url("../images/background/ignasi_dark.png");
  font-size: 2em;
  font-family: "europa","Helvetica Neue",sans-serif;
  color: #CBCBCB; }

.section {
  padding-top: 2.5em;
  background-color: #141414;
  padding-bottom: 2.5em; }
  .section.first {
    margin-top: 4.5em; }
  .section.no-background {
    background: inherit;
    padding-bottom: 0px; }

.container-fluid {
  max-width: 1170px; }

h1 {
  font-size: 1.9em;
  display: inline-block;
  padding-right: .25em;
  padding-top: .05em;
  color: #FFF; }

h2 {
  color: white; }

h3 {
  color: #e5e5e5; }

h4 {
  font-size: 1.33333em;
  color: #e5e5e5;
  margin-top: 0px; }

/* 
	NAVIGATION 
*/
a:focus, a:active, a:hover, a[aria-expanded="true"] {
  color: #94CDFF;
  text-decoration: none; }

a.external {
  text-decoration: underline;
  color: #337ab7;
  font-weight: bold; }
  a.external:hover {
    color: #94CDFF; }

.social-link:hover, .social-link:focus, .social-link:active {
  text-decoration: none; }

i.glyphicon-new-window {
  font-size: .5em;
  color: #337ab7;
  padding-left: 2px; }

/*
	SKILLS
*/
.skill {
  padding-left: 10px;
  color: #CBCBCB; }
  @media screen and (max-width: 481px) {
    .skill {
      display: none; } }

.key {
  display: inline-block;
  margin-right: 1.5em;
  margin-bottom: 1em;
  color: white; }
  @media screen and (max-width: 481px) {
    .key {
      display: none; } }

.bargraph {
  list-style: none;
  padding-top: 20px;
  max-width: 800px;
  padding-left: 0px; }

ul.bargraph li {
  height: 35px;
  color: white;
  text-align: left;
  font-style: italic;
  font-weight: bolder;
  font-size: .85em;
  line-height: 35px;
  padding: 0px 20px;
  margin-bottom: 5px; }
  @media screen and (max-width: 620px) {
    ul.bargraph li {
      font-size: .65em; } }
  @media screen and (max-width: 539px) {
    ul.bargraph li {
      padding-left: 5px; } }
  @media screen and (max-width: 358px) {
    ul.bargraph li {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; } }
  ul.bargraph li.toptop {
    width: 100%;
    background: #337ab7; }
  ul.bargraph li.topmid {
    width: 90%;
    background-color: #005b31; }
  ul.bargraph li.topsm {
    width: 80%;
    background-color: #008448; }
  ul.bargraph li.midtop {
    width: 70%;
    background-color: #009753; }
  ul.bargraph li.midmid {
    width: 60%;
    background-color: #00aa5e; }
  ul.bargraph li.midsm {
    width: 50%;
    background-color: #00b765; }
  ul.bargraph li.smtop {
    width: 40%;
    background-color: #00ce72; }
  ul.bargraph li.smmid {
    width: 30%;
    background-color: #BA0038; }
  ul.bargraph li.axis-x {
    width: 100%;
    font-style: none;
    padding-left: 0px;
    border-bottom: 1px solid #CBCBCB;
    color: #CBCBCB; }
    ul.bargraph li.axis-x .highend {
      float: right; }
  ul.bargraph li.axis-y {
    font-style: none;
    padding-left: 3px;
    color: #CBCBCB;
    border-left: 1px solid #CBCBCB;
    margin-bottom: 0px;
    padding-bottom: 5px; }

/* 
	GLYPHICON
*/
.section-glyphicon {
  font-size: 28px;
  padding-top: 1em;
  float: right;
  line-height: 1.1;
  color: #FFF; }

/* 
	BIOGRAPHY 
*/
.bio-image-container {
  width: 200px;
  height: 200px; }
  .bio-image-container > img {
    border-radius: 50%;
    max-width: 100%; }
  @media screen and (max-width: 840px) {
    .bio-image-container {
      width: 150px;
      height: 150px; } }

.bio-content {
  background-color: #141414;
  color: #CBCBCB; }

.bio-head {
  display: inline-block;
  position: relative;
  height: inherit;
  bottom: .45em; }
  @media screen and (max-width: 435px) {
    .bio-head {
      display: block;
      margin-left: 10px; } }

.icon {
  height: 35px;
  width: 35px; }
  .icon.round {
    height: 30px;
    width: 30px;
    border-radius: 50%; }

.icon-big {
  height: 30px;
  width: 25px;
  margin-right: 5px;
  margin-left: 5px; }

#bio-intro {
  font-size: 1.15em;
  line-height: 1.4; }

#accordion {
  background-color: #141414;
  padding-bottom: 1em; }

.panel-default {
  border: none;
  margin-top: 20px;
  background-color: #141414; }

.panel-body {
  margin: 0em .25em .25em .25em;
  border: 1px solid #CBCBCB;
  background-color: #202020;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05); }
  @media screen and (max-width: 650px) {
    .panel-body {
      font-size: 0.85em; } }

.panel-group {
  margin-bottom: 0px; }

/* 
	EDUCATION
*/
.edu-container {
  margin-bottom: 1em; }

.edu-details {
  display: inline-block;
  padding-right: 1em;
  border-right: 1px solid #CBCBCB;
  margin-left: 1em;
  font-style: italic; }
  .edu-details:first-of-type {
    margin-left: 0px; }
  .edu-details:last-of-type {
    border: none; }

.minor-box {
  display: inline-block;
  margin-right: 2em; }
  .minor-box > p {
    margin: 0; }
  .minor-box > h3 {
    margin: 0;
    font-size: 1.4em;
    padding-bottom: 10px; }

.row.education {
  margin-bottom: 1.5em; }

/* 
	Projects 
*/
.project {
  padding: 2.5em 0px 2.5em 0px; }

.project-image {
  max-width: 80%;
  margin: 0 auto 0 auto; }

.project-text {
  margin-top: 20px; }

.project-links {
  list-style: none; }

.project-links li {
  padding-bottom: 10px; }

/* 
	Footer 
*/
.main-foot {
  border-top: 1px solid #444;
  padding: 2.25em;
  opacity: .7;
  background-color: #141414;
  font-size: .8em; }
  .main-foot div {
    margin: auto; }
  .main-foot p:first-of-type {
    color: #FFF; }
  .main-foot p:last-of-type {
    padding-bottom: 2em; }

/* OTHER */
/* Special thanks to Josh Messer for this CSS snippet inspiration: http://jsfiddle.net/JoshMesser/55ZfK/*/
.section-border {
  display: block;
  border: none;
  color: black;
  height: 1px;
  background: white;
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 600, from(#fff), to(#000));
  background: -o-gradient(radial, 50% 50%, 0, 50% 50%, 600, from(#fff), to(#000));
  background: -moz-gradient(radial, 50% 50%, 0, 50% 50%, 600, from(#fff), to(#000)); }

.section-border.small {
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 75, from(#fff), to(#000));
  margin-bottom: 1em;
  margin-top: 1.25em; }

/* CERTIFICATION TESTS */
.certs-parent {
  width: 100%; }

.xcert-container {
  width: 160px;
  height: 280px;
  color: #CBCBCB;
  margin: 1em 10px 1em 10px;
  float: left; }
  @media screen and (max-width: 385px) {
    .xcert-container {
      font-size: .8em;
      width: 120px;
      height: 280px; } }
  @media screen and (max-width: 329px) {
    .xcert-container {
      margin: 1em 5px 1em 5px; } }

.xlogo {
  height: 120px;
  width: 120px;
  display: block;
  margin: 5px auto 5px auto; }
  @media screen and (max-width: 600px) {
    .xlogo {
      height: 80px;
      width: 80px; } }

.xlogo.round {
  border-radius: 50%; }

.xdetails {
  padding-bottom: 5px; }

.xextra-details {
  border-top: 1px solid lightgray; }

.text {
  width: 100%;
  display: block;
  font-size: .6em;
  padding-left: 5px;
  text-align: center; }
  .text.title {
    font-weight: bold;
    font-size: .85em;
    color: #FFF; }
  .text.skills {
    font-style: italic;
    text-align: left; }

/*# sourceMappingURL=app%20-%20Copy.css.map */
