$ghost-bg: "../resources/background/ignasi_pattern_s.png" !default;
$ghost-dark: "../resources/background/ignasi_dark.png";
$black-bg: "../resources/background/congruent_outline.png";

$text-color: #CBCBCB; //#444;
$section-color: #141414; //#EBEBEB for ghost, #333333 for black
$link-color: #337ab7; //#FFF; //#333;
$header-color: #FFF;

$debug: false;

@mixin respond-to($val, $query){
	@media ($val: $query){
		@content;
	}
}

/*
	PARENT CONTAINERS
*/

.debug{
	@if($debug){
		position: fixed;
	} @else{
		display: none;
	}
}

html{
	font-size: 10px;
}

body{
	background-image: url($ghost-dark);
	font-size: 2em;
	font-family: "europa","Helvetica Neue",sans-serif;
	color: $text-color;
}


.section{

	padding-top: 2.5em;
	background-color: $section-color;
	padding-bottom: 2.5em;

	&.first{
		margin-top: 4.5em;
	}
	&.no-background{
		background: inherit;
		padding-bottom: 0px;
	}
}
.container-fluid{
	max-width: 1170px;
}


h1 {
	font-size: 1.9em;
	display: inline-block;
	padding-right: .25em;
	padding-top: .05em;
	color: $header-color;
}

h2{
	
}

h3{
	color: lighten($text-color, 10%);
}


/* 
	NAVIGATION 
*/
a.external{
	text-decoration: underline;
	color: $link-color;
	font-weight: bold;
	&:hover{
		opacity: .7;
	}
}





/* 
	GLYPHICON
*/
i.section.glyphicon{
	font-size: 28px;
	padding-top: 1em;
	float: right;
	line-height: 1.1;
	color: $header-color;
}
// External link icon
i.glyphicon-new-window{
	font-size: .5em;
	color: $link-color;
	padding-left: 2px;
}



/* 
	BIOGRAPHY 
*/
#bio-image{
	width: 200px;
	height: 200px;
	border-radius: 50%;
}

.bio-content{
	background-color: $section-color;
	color: $text-color;
	padding-bottom: 2.5em;

}

#bio-icons{
	display: inline-block;
	position: relative;
	height: inherit;
	bottom: .45em;
}
.icon{
	height: 35px;
	width: 35px;
	&.round{
		height: 30px;
		width: 30px;
		border-radius: 50%;
	}
}
#bio-intro{
	font-size: 1.15em;
	line-height: 1.4;
}




/* 
	EDUCATION
*/
.edu-details{
	padding-right: 1em;
	border-right: 1px solid #CBCBCB;
	margin-left: 1em;
	&:first-of-type{
		margin-left: 0px;
	}
	&:last-of-type{
		border: none;
	}
}
.minor-box{
	display: inline-block;
	width: 14em;
	height: 3em;
	margin: 1em 1em 1em 0;
	overflow: hidden;
	
	&> p{
		margin: 0;
	}
	&> h3{
		margin: 0;
		font-size: 1.4em;
		padding-bottom: 1em;
	}
}
.row.education{
	margin-bottom: 1.5em;
}


/* 
	Projects 
*/
.project{
	padding-top: 1.5em;
}

.project-image{
	width: 50%;
	height: 50%;
	display: block;
	margin: 0 auto 0 auto;
}

.project-text{
	margin-top: 20px;
}

/* 
	Footer 
*/
.main-foot{
	border-top: 1px solid #444;
	padding: 2.25em;
	opacity: .7;
	background-color: $section-color;
	font-size: .8em;
	& div{
		//width: 60%;
		margin: auto;
	}
	& p:first-of-type{
		color: $header-color;
	}
	& p:last-of-type{
		padding-bottom: 2em;
	}
}


/* OTHER */

/* Special thanks to Josh Messer for this CSS snippet inspiration: http://jsfiddle.net/JoshMesser/55ZfK/*/
.section-border{ 
    display:block;
    border:none;
    color:black;
    height:1px;
    background:white;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 600, from(#fff), to(#000));
}

.section-border.small{
	background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 75, from(#fff), to(#000));
	margin-bottom: 1em;
	margin-top: 1.25em;
}




/* CERTIFICATION TESTS */
.xcert-container{
	/*border: 1px solid lightgray;*/
	width: 160px;
	height: 280px;
	margin: 1em 10px 1em 10px;
	float: left;
	color: $text-color;
	@include respond-to(max-width, 600px){
		font-size: .8em;
		width: 120px;
		height: 200px;
	}
}

.xlogo{
	height: 120px;
	width: 120px;
	display: block;
	margin: 5px auto 5px auto;
	@include respond-to(max-width, 600px){
		height: 80px;
		width: 80px;
	}
}
.xlogo.round{
	border-radius: 50%;
}

.xdetails{
	padding-bottom: 5px;
}
.xextra-details{
	border-top: 1px solid lightgray;
	
}
.text{
	width: 100%;
	display: block;
	font-size: .6em;
	padding-left: 5px;
	text-align: center;
	&.title{	
		font-weight: bold;
		font-size: .85em;
	}
	&.skills{
		font-style: italic;
		text-align: left;
	}
}

