$ghosts: "../images/background/ignasi_dark.png";
$congruent: "../images/background/congruent_outline.png";
$robots: "../images/background/robots.png";
$shirt: "../images/background/shirt.png";

$background-url: $shirt;

$text-color: #CBCBCB; //#444;
$section-color: #141414; //#EBEBEB for ghost, #333333 for black
$link-color: #337ab7; //#FFF; //#333;
$active-link: #94CDFF;
$header-color: #FFF;


@mixin respond-to($val, $query){
	@media screen and ($val: $query){
		@content;
	}
}



/*
	PARENT CONTAINERS
*/
html{
	font-size: 10px;
}

body{
	background-image: url($background-url);
	font-family: "europa","Helvetica Neue",sans-serif;
	color: $text-color;
	font-size: 2em;	// 20px context
}


.section{

	padding-top: 2.5em;
	background-color: $section-color;
	padding-bottom: 2.5em;
	
	&.no-background{
		background: inherit;
		padding-bottom: 0px;
	}
	&.bio-content{
		padding-top: 0px;
		padding-bottom: 0px;		
	}
	&.no-top{
		padding-top: 0px;
		padding-bottom: 1em;
	}
}


h1 {
	font-size: 1.9em;
	display: inline-block;
	padding-right: .25em;
	padding-top: .05em;
	color: $header-color;
}

h2{
	color: white;
}

h3{
	color: lighten($text-color, 10%);
}

h4{
	font-size: 1.33333em;
	color: lighten($text-color, 10%);
	margin-top: 0px;
}


/* 
	NAVIGATION 
*/
a:focus, a:active, a:hover, a[aria-expanded="true"]{
	color: $active-link;
	text-decoration: none;
}
a.external{
	text-decoration: underline;
	color: $link-color;
	font-weight: bold;
	&:hover{
		color: $active-link;
	}
}
.social-link{
	&:hover, &:focus, &:active{
		text-decoration: none;
	}
}



/* 
	GLYPHICON
*/
.section-glyphicon{
	font-size: 28px;
	padding-top: 1em;
	float: right;
	line-height: 1.1;
	color: $header-color;
}
i.glyphicon-new-window{
	font-size: .5em;
	color: $link-color;
	padding-left: 2px;
}



/* 
	BIOGRAPHY 
*/
.bio-image-container{
	width: 200px;
	height: 200px;
	&> img{
		border-radius: 50%;
		max-width: 100%;
	}
	@include respond-to(max-width, 840px){
		width: 150px;
		height: 150px;
	}
}


.bio-head{
	display: inline-block;
	position: relative;
	height: inherit;
	bottom: .45em;
	@include respond-to(max-width, 435px){
		display: block;
		margin-left: 10px;
	}	
}
.icon{
	height: 35px;
	width: 35px;
	&.round{
		height: 30px;
		width: 30px;
		border-radius: 50%;
	}
}
.icon-big{
	height: 30px;
	width: 25px;
	margin-right: 5px;
	margin-left: 5px;
}

#bio-intro{
	font-size: 1.15em;
	line-height: 1.4;
}

.panel-default{
	border: none;
	margin-top: 20px;
	background-color: $section-color;
}

.panel-body{
	margin: 0em .25em .25em .25em;
	border: 1px solid $text-color;
	background-color: scale-color($section-color, $lightness: 5%);
	border-radius: 3px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
	@include respond-to(max-width, 650px){
		font-size: .85em
	}
}

.panel-group{
	margin-bottom: 0px;
}




/* 
	EDUCATION
*/
.edu-container{
	margin-bottom: 1em;
}
.edu-details{
	display: inline-block;
	padding-right: 1em;
	border-right: 1px solid #CBCBCB;
	margin-left: 1em;
	font-style: italic;
	&:first-of-type{
		margin-left: 0px;
	}
	&:last-of-type{
		border: none;
	}
}
.minor-box{
	display: inline-block;
	margin-right: 2em;	
	&> p{
		margin: 0;
	}
	&> h3{
		margin: 0;
		font-size: 1.4em;
		padding-bottom: 10px;
	}
}
.row.education{
	margin-bottom: 1.5em;
}




/* 
	Projects 
*/
.project{
	padding: 2.5em 0px 2.5em 0px;
}

.project-image{
	max-width: 80%;
	margin: 0 auto 0 auto;
}

.project-text{
	margin-top: 20px;
}
.project-links{
	list-style: none;
	//padding-left: 5px;
}
.project-links li{
	padding-bottom: 10px;
}




/* 
	Footer 
*/
.main-foot{
	border-top: 1px solid #444;
	padding: 2.25em;
	background-color: $section-color;
	font-size: .8em;
	& div{
		//width: 60%;
		margin: auto;
	}
	& p:first-of-type{
		color: $header-color;
	}
	& p:last-of-type{
		padding-bottom: 2em;
	}
}


/* OTHER */

/* Special thanks to Josh Messer for this CSS snippet inspiration: http://jsfiddle.net/JoshMesser/55ZfK/*/
.section-border{ 
    display:block;
    border:none;
    color:black;
    height:1px;
    background:white;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 600, from(#fff), to($section-color));
	background: -o-gradient(radial, 50% 50%, 0, 50% 50%, 600, from(#fff), to($section-color));
	background: -moz-gradient(radial, 50% 50%, 0, 50% 50%, 600, from(#fff), to($section-color));
	background: -ms-radial-gradient(50% 50%, 50% 50%, #fff, $section-color);
	max-width: 1140px;
	&.small{
		max-width: 900px;
		margin: 0px auto 0px auto;
		text-align: center;
	}
}


/* CERTIFICATION TESTS */
.xcert-container{
	width: 160px;
	height: 240px;
	color: $text-color;
	margin: .5em 2% .5em 2%;
	float: left;
	@include respond-to(max-width, 385px){
		font-size: .8em;
		width: 120px;
		height: 200px;
	}
	@include respond-to(max-width, 329px){
		
		margin: .5em 5px .5em 5px;
	}
}

.xlogo{
	height: 120px;
	width: 120px;
	display: block;
	margin: 5px auto 5px auto;
	@include respond-to(max-width, 600px){
		height: 80px;
		width: 80px;
	}
}
.xlogo.round{
	border-radius: 50%;
}

.xdetails{
	padding-bottom: 5px;
}
.xextra-details{
	border-top: 1px solid lightgray;
	
}
.text{
	width: 100%;
	display: block;
	font-size: .6em;
	padding-left: 5px;
	text-align: center;
	&.title{	
		font-weight: bold;
		font-size: .85em;
		color: $header-color;
	}
	&.skills{
		font-style: italic;
		text-align: left;
	}
}

